<div class="resp-tabs-container">
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="~/Imagenes/images/wim.jpg" alt="" class="pro-image-front">
                <img src="~/Imagenes/images/wim.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Detalles</a>
                    </div>
                </div>
                <span class="product-new-top">Nuevo</span>

            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Championships Wimbledon</a></h4>
                <div class="info-product-price">
                    <span class="item_price">$45.99</span>
                    <del>$69.71</del>
                </div>
                <a href="#" class="item_add single-item hvr-outline-out button2">Agregar al carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="~/Imagenes/images/cent.jpg" alt="" class="pro-image-front">
                <img src="~/Imagenes/images/cent.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Detalles</a>
                    </div>
                </div>
                <span class="product-new-top">Nuevo</span>

            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Juegos Centroamericanos</a></h4>
                <div class="info-product-price">
                    <span class="item_price">$45.99</span>
                    <del>$69.71</del>
                </div>
                <a href="#" class="item_add single-item hvr-outline-out button2">Agregar al carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="~/Imagenes/images/tour.jpg" alt="" class="pro-image-front">
                <img src="~/Imagenes/images/tour.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Detalles</a>
                    </div>
                </div>
                <span class="product-new-top">Nuevo</span>

            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Tour de Francia</a></h4>
                <div class="info-product-price">
                    <span class="item_price">$45.99</span>
                    <del>$69.71</del>
                </div>
                <a href="#" class="item_add single-item hvr-outline-out button2">Agregar al carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="~/Imagenes/images/cham.jpg" alt="" class="pro-image-front">
                <img src="~/Imagenes/images/cham.jpg" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Detalles</a>
                    </div>
                </div>
                <span class="product-new-top">Nuevo</span>

            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Champions League</a></h4>
                <div class="info-product-price">
                    <span class="item_price">$45.99</span>
                    <del>$69.71</del>
                </div>
                <a href="#" class="item_add single-item hvr-outline-out button2">Agregar al carrito</a>
            </div>
        </div>
    </div>
</div>